<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {% endblock %}
    <title>{% block title %}{{ constants.APP_NAME }} {% endblock %}</title>
    {% endblock head %}
</head>
  <body>
<header>
    {% block header %}
{% endblock header %}
</header>
 {% include 'flash-msg.html' %}
  {% block body %}
  <h1>{{ self.title() }}</h1>
      {% include 'session-info.html'  %}
  {% block content %}
  {% endblock content %}
      <footer>
            {% block footer %}
{% endblock footer %}
      </footer>
  {% endblock body %}
  </body>
</html>
