{% extends "layout.html" %}
{% block title %} {{ super() }} - Register{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}"/>
{% endblock %}
{% block content %}
{{ super() }}
{# ref: http://flask.pocoo.org/docs/patterns/wtforms/?highlight=forms#forms-in-templates #}
{% from "helpers/forms.html" import render_field %}
<form method=post action="{{ url_for('.register') }}">
{{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}

    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}

  </dl>
  <p><input type="submit" value="Register">
</form>
{% endblock %}
